.bg-custom-gradient {
  background-image: radial-gradient(circle at bottom, #19192d, #2d1929, #030014);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/* #3d2c3a */
/* linear-gradient(45deg, #16161d, transparent), linear-gradient(135deg, #2d0c34, transparent),
    linear-gradient(225deg, #463440, transparent), linear-gradient(315deg, #232448, transparent); */
