@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke_text {
  -webkit-text-stroke: 0.5px rgba(124, 103, 142, 0.176);
  -webkit-text-fill-color: transparent;
}
.box-shadow {
  box-shadow: 0 1px 3px #0e1018, 0 1px 2px #0e1018;
}
.accordian-card-shadow {
  box-shadow: 2px 2px 0px 1px #8750f733, -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
}
